h1{
    text-align: center;
    font-size: 2rem;
}
/*#onSubmit{
    padding: 15px;
}*/


body{
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShn1oK1fBk-kUyPWifPwvHLpqjEHHnm2HQ_A&s);
    background-repeat: no-repeat;
    background-size:cover;
}
/* Div */
#cal{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-top: 15px;
}

/*Responsive design for screens 760px and smaller*/
@media (max-width: 600px) {
    #cal {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}